.TextBox {
    width: 100%;
    height: 100%;
}

.TextBox textarea {
    width: calc(100% - (var(--gap) * 2));
    border: 1px solid var(--gray);
    height: 100%;
    padding: var(--gap);
    font-size: 1rem;
}