.Icon {
    font-size: 1.2rem;
}

.Icon.action:hover {
    cursor: pointer;
    opacity: 0.8;
}

.Icon.action:active {
    opacity: 0.9;
}

.Icon[data-visibility="false"] {
    visibility: hidden;
}

.Logo {
    width: 7rem;
}