.Line {
    display: flex;
    gap: var(--gap);
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.Line.no-wrap {
    flex-wrap: nowrap;
}

.Line.short {
    gap: var(--gap-xs);
}

.Line.end {
    justify-content: flex-end;
    width: 100%;
}

.Line.between {
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
}

.Line.center,
.Line.center-align {
    justify-content: center;
    width: 100%;
    height: 100%;
}

.Line.center-align {
    text-align: center;
}

.Line.spread {
    width: 100%;
}

.Line.spread>*:first-child {
    flex-grow: 1;
}

.Line.spread-end {
    width: 100%;
}

.Line.spread-end>*:last-child {
    flex-grow: 1;
}

.Line.rows {
    flex-direction: column;
    align-items: baseline;
}

.Line.center>.Line,
.Line.rows>.Line {
    height: auto;
}

.Line.self-start {
    align-self: flex-start;
}