html,
body,
#root {
    height: 100%;
}

html {
    font-size: var(--size);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h4,
h5,
h6 {
    font-weight: 500;
}

body,
input,
textarea,
button {
    font-family: var(--default-regular-font, -apple-system),
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Noto Sans",
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    color: var(--color);
}

a {
    color: inherit;
    text-decoration: none;
    height: inherit;
    width: inherit;
}

a.active {
    color: var(--color-selected);
}

.drag,
.drag .item {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.drag .item {
    border-bottom: 2px solid transparent;
    width: 100%;
}

.drag.on-drag .item:hover {
    border-bottom: 2px solid #e1e1e1;
    cursor: grab;
}

.drag:not(.on-drag) .item:hover {
    background-color: var(--color-alter);
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}