:root {
    --primary: #1f75cb;
    --primary-edge: #1068bf;
    --background: #f9f9f9;
    --background-header: #fff;
    --color-selected: #5F9AE1;
    --gray: #E5E5E5;
    --gray-edge: #dbdbdb;
    --gray-dark: #999;
    --color: #333;
    --color-white: #fff;
    --color-gray: #ADADAD;
    --color-alter: #f1f1f1;
    --aside-background: #fbfafd;
    --aside-border: #e9e9e9;
    --size: 16px;
    --gap-xl: 2.2rem;
    --gap-l: 1.6rem;
    --gap: 1rem;
    --gap-s: 0.8rem;
    --gap-xs: 0.5rem;
    --gap-xxs: 0.3rem;
    --gap-m: 1rem;
    --top-height-size: 5rem;
    --top-shadow-size: 9px;
    --inner-width: 790px;
}