.Tabs {
    display: grid;
    grid-template-rows: auto minmax(25rem, 1fr);
    margin-top: var(--gap-l);
}

.Tabs>.header {
    display: flex;
    gap: var(--gap-xs);
    background-color: var(--gray);
    padding: var(--gap);
    padding-bottom: 0;
    padding-top: var(--gap-xl);
    border-bottom: 1px solid var(--color-gray);
    margin-bottom: var(--gap-l);
}

.Tabs>.content {
    padding: var(--gap);
}

.Tab {
    background-color: none;
    padding: var(--gap-xs) var(--gap-s);
    margin-bottom: -1px;
}

.Tab:hover {
    cursor: pointer;
    background-color: var(--gray-edge);
}

.Tab[data-selected="true"] {
    background-color: var(--color-white);
    cursor: default;
}