.Btn {
    background-color: var(--primary);
    padding: var(--gap-xs) var(--gap-s);
    color: var(--color-alter);
    border: none;
    box-shadow: inset 0 0 0 1px var(--primary-edge);
    border-radius: 0.25rem;
}

.Btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.Btn:active {
    opacity: 0.9;
}

.Btn[data-theme="cancel"] {
    background-color: var(--gray-edge);
    box-shadow: inset 0 0 0 1px var(--gray-dark);
    color: var(--color);
}

.Btn > .Line {
    gap: 0
}

.Btn[data-type="check"] {
    background-color: var(--gray);
    color: var(--color-gray);
}

.Btn[data-type="check"][data-selected="true"],
.Btn[data-type="item-select"][data-selected="true"] {
    background-color: var(--color-selected);
    color: var(--color-alter);
}

.Btn[data-type="item-select"] {
    background-color: inherit;
    color: inherit;
    padding: var(--gap-xs) var(--gap);
    width: 100%;
    text-align: left;
}

.Btn[data-type="item-select"]:hover:not([data-selected="true"]) {
    background-color: var(--gray);
}

.Btn[data-type="icon"] {
    padding: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-selected);
}

.Btn[data-type="icon"][data-selected="true"],
.Btn[data-type="icon"][data-selected="true"]:hover {
    background-color: var(--primary);
    opacity: 1;
}


.Btn[data-type="link"] {
    background-color: transparent;
    border: none;
    color: var(--color);
    box-shadow: none;
    padding: 0;
}

.Btn[data-type="link"][data-selected="true"] {
    color: var(--primary);
}

.Btn[disabled] {
    opacity: 0.3;
    cursor: default;
}