.SearchBlock {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    
}

.SearchBlock > .inner {
    position: absolute;
    min-width: 300px;
    background-color: var(--color-white);
    transform: translateY(calc(var(--gap-m) * -1));
}

.SearchBlock > .inner > .header {
    padding: var(--gap-m);
}

.SearchBlock .list {
    border-top: 2px solid var(--gray)
}
.SearchBlock .list li {
    border-bottom: 1px solid var(--gray);
    padding: var(--gap-m);
}

.SearchBlock .list li.exist {
    opacity: 0.3;
}

.SearchBlock .list li:hover {
    background-color: var(--gray);
    cursor: pointer;
}

.SearchBlock .list li b {
    background-color: yellow;
}

.SearchBlock .list li .docs {
    color: var(--gray-dark);
}