.Tags {
    border: 1px solid var(--gray);
    padding: var(--gap-xs);
    width: calc(100% - (var(--gap-xs) * 2));
}

.Tags > .Line {
    gap: var(--gap-xs);
}

.Tag {
    border: 1px solid var(--gray);
    padding: var(--gap-xs) var(--gap-s);
    border-radius: 10px;
}

.Tag:hover {
    background-color: var(--gray-edge);
    cursor: pointer;
}