.Cube {
    border: 1px solid var(--gray);
    padding: var(--gap-l);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px var(--color);
    background-color: var(--gray);
    aspect-ratio: 65/40;
}

.Cube:hover {
    cursor: pointer;
    background-color: var(--gray-edge);
}

.CubeIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--gap);
    color: var(--color);
}

.CubeIcon img {
    height: 3em;
    max-width: 100%;
}