.AsideContainer {
    --aside-base-width: 256px;
    --aside-base-left: 0px;
    --transition-speed: 0.2s;

    transition: padding-left var(--transition-speed);
    padding-left: var(--aside-base-width);
    padding-top: var(--gap);
    padding-bottom: 300px;
}

.AsideContainer aside {
    position: fixed;
    bottom: 0;
    left: var(--aside-base-left);
    transition: width var(--transition-speed), left var(--transition-speed);
    z-index: 0;
    width: calc(var(--aside-base-width) - (var(--gap-l) * 2));
    top: calc(var(--top-height-size));
    background-color: var(--aside-background);
    border-right: 1px solid var(--aside-border);
    transform: translate3d(0, 0, 0);
    padding: var(--gap-l);
}

@media (width < 900px) and (width > 700px) {
    .AsideContainer {
        --aside-base-width: 56px;
    }
}

@media (width < 701px) {
    .AsideContainer {
        padding-left: 0;
        --aside-base-left: calc(var(--aside-base-width) * -1);
    }
}