.Input {
    border: 1px solid var(--gray-dark);
}

.Input input {
    border: none;
    padding: var(--gap-xxs) var(--gap-xs);
    width: calc(100% - (var(--gap-xs) * 2));
}

input::selection {
    background: var(--primary);
    color: var(--color-alter);
}