.Absolute {
    position: relative;
    height: inherit;
    width: inherit;
}

.Absolute .elem {
    position: absolute;
    right: var(--gap);
    top: var(--gap);
}

.Absolute[data-stretch="true"] .elem {
    width: calc(100% - (var(--gap) * 2));
}

.Sticky {
    position: sticky;
    top: calc(var(--top-height-size) + 1rem);
    align-self: flex-start;
}