.Markdown {
    max-width: calc(var(--inner-width) - (var(--gap) * 2));
}

.Markdown img {
    padding: var(--gap-xs);
    border: 1px solid var(--gray);
    border-radius: 7px;
    background-color: var(--color);
    width: calc(100% - (var(--gap-xs) * 2));
    margin: var(--gap-l) 0;
}

.Markdown img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.Markdown img:active {
    opacity: 0.9;
}

.Markdown iframe {
    width: 100%;
    aspect-ratio: 16/9;
    background-color: #333;
}

.Markdown blockquote {
    color: var(--gray-dark);
    padding: 0;
    margin: 0;
}

.Markdown h1,
.Markdown h2 {
    border-bottom: 1px solid var(--gray);
    padding-bottom: var(--gap-s);
    margin-bottom: var(--gap-s);
}

.Markdown :is(h2, h3) {
    margin-top: 4rem;
}

.Markdown h2,
.Markdown h3,
.Markdown h4 {
    padding-bottom: var(--gap);
}

.Markdown h5,
.Markdown h6,
.Markdown li,
.Markdown p {
    padding-bottom: var(--gap-xs);
}

.Markdown :is(ul) {
    padding-left: var(--gap-l);
    padding-top: var(--gap-xs);
}

.Markdown :is(p, ol)  {
    line-height: 33px;
    font-size: 21px;
    color: #444;
}

.Markdown em {
    line-height: 1.5rem;
    display: inline-block;
    font-weight: 800;
}

.Markdown p > code {
    background-color: #e1e1e1;
    padding: 3px 7px;
    border-radius: 5px;
}

.Markdown a {
    color: var(--primary);
}
