.Grid {
    display: grid;
    height: 100%;
}

.Grid[layout="main"] {
    grid-template-rows: var(--top-height-size) 1fr;
}

.Grid[layout="main"]>:first-child>* {
    position: fixed;
    width: calc(100% - (var(--gap) * 2));
    padding: var(--gap);
    z-index: 800;
    box-shadow: 1px 1px var(--top-shadow-size) var(--color);
    background-color: var(--background-header);
}

.Grid[layout="10,fr,30"] {
    grid-template-columns: 18rem 1fr 30rem;
}

.Grid[layout="10,fr,30"]>* {
    overflow-y: auto;
    overflow-x: hidden;
}

.Grid[layout="10,fr,30"]>:nth-child(2) {
    justify-self: center;
}

.Grid[layout="auto,200"] {
    grid-template-columns: auto 200px;
    grid-column-start: 1;
}

.Grid.top.auto {
    grid-template-rows: auto minmax(25rem, 1fr);
}

.Grid.top>*:first-child {
    border-bottom: 1px solid var(--gray);
}

.Grid.top>* {
    padding: var(--gap);
}

.Grid[layout="cubes"] {
    width: 100%;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-l);
}

.Grid[layout="cubes"] > div {
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 7rem;
}