.Tree {
    width: 100%;
}

.Tree .container {
    width: 100%;
}

.Tree .item {
    padding: var(--gap-xxs);
    border-bottom: 2px solid transparent;
    position: relative;
}

.Tree .item>*>.actions {
    position: absolute;
    right: var(--gap-s);
    background-color: var(--color-alter);
}

.Tree .item.selected {
    color: var(--primary);
    font-weight: 900;
}

.Tree.on-drag .item:hover {
    border-bottom: 2px solid #e1e1e1;
    cursor: grab;
}

.Tree.on-drag .item.folder.center:hover {
    background-color: var(--gray);
    cursor: grab;
}

.Tree:not(.on-drag) .item:hover {
    background-color: var(--color-alter);
    cursor: pointer;
}

.Tree:not(.on-drag) .item:hover h4 {
    color: var(--color_primary);
}

.Tree *:not(input) {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.Tree ::selection:not(input) {
    background: transparent;
}

.Tree ::-moz-selection:not(input) {
    background: transparent;
}