.Dialog {
    position: fixed;
    background-color: rgba(51, 51, 51, 0.297);
    inset: 0;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dialog>.content {
    background-color: var(--color-white);
    padding: var(--gap-l);
    box-shadow: 0px 0px 8px #8d8888;
    border: 1px solid var(--gray-dark);
    min-width: 300px;
    min-height: 150px;
}

.Dialog[data-type="pic"] {
    background-color: rgba(51, 51, 51, 0.5);
}

.Dialog[data-type="pic"]>.content {
    background-color: transparent;
    box-shadow: none;
}

.Dialog[data-type="pic"]>.content img {
    box-shadow: 0px 0px 8px #333;
    max-width: 100%;
    max-height: 100%;
}