.Box {
    border: 1px solid var(--gray);
    background-color: var(--background);
    padding: var(--gap-m);
    width: 100%;
    box-sizing: border-box;
}

.Box.auto {
    width: auto;
}

.Container {
    max-width: 40rem;
    width: 100%;
}