.CopyClip {
    position: relative;
}

.CopyClip>.action {
    position: absolute;
    right: var(--gap-s);
    top: var(--gap-s);
    transition: opacity 0.2s;
    opacity: 0;
}

.CopyClip:hover>.action {
    opacity: 1;
}